#box1 {
  width: 40%;
  height: 150px;
  background: pink;
  padding: 10px;
  border: 1px solid #000;
}
#box2 {
  width: 40%;
  height: 100px;
  background: pink;
  padding: 10px;
  border: 1px solid #000;
}
.first {
  background-color: red;
}
.second {
  background-color: aqua;
}
